<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>GUID</key>
		<integer>1794875954</integer>
		<key>tile-data</key>
		<dict>
			<key>arrangement</key>
			<integer>2</integer>
			<key>book</key>
			<data>
			Ym9va6wCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIwBAAAEAAAAAwMAAAAA
			ACAFAAAAAQEAAFVzZXJzAAAACAAAAAEBAABldmdraXJvdgkAAAAB
			AQAARG93bmxvYWRzAAAADAAAAAEGAAAQAAAAIAAAADAAAAAIAAAA
			BAMAACdIAAAAAAAACAAAAAQDAABNJwUAAAAAAAgAAAAEAwAAgCcF
			AAAAAAAMAAAAAQYAAFgAAABoAAAAeAAAAAgAAAAABAAAQce2iWEe
			EGIYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAAAAAAB
			BQAACAAAAAQDAAABAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAA
			ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACAl
			idABAAAIAAAAAAQAAEHH0fL+gAAAJAAAAAEBAABBN0U3MkI4Mi04
			Mjc0LTQzOTgtOThGMi1CQUQ0Q0Q4MjY2MzEYAAAAAQIAAIEAAAAB
			AAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAANgAAAD+////
			AQAAAAAAAAARAAAABBAAAEQAAAAAAAAABRAAAIgAAAAAAAAAEBAA
			AKwAAAAAAAAAQBAAAJwAAAAAAAAAAiAAAIABAAAAAAAABSAAAPAA
			AAAAAAAAECAAAAABAAAAAAAAESAAADQBAAAAAAAAEiAAABQBAAAA
			AAAAEyAAACQBAAAAAAAAICAAAGABAAAAAAAAMCAAAMwAAAAAAAAA
			AcAAANQAAAAAAAAAEcAAACAAAAAAAAAAEsAAAOQAAAAAAAAAAdAA
			AMwAAAAAAAAAENAAAAQAAAAAAAAA
			</data>
			<key>displayas</key>
			<integer>0</integer>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Users/evgkirov/Downloads/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Downloads</string>
			<key>file-mod-date</key>
			<integer>113502619073649</integer>
			<key>file-type</key>
			<integer>2</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>16182955216062</integer>
			<key>preferreditemsize</key>
			<integer>-1</integer>
			<key>showas</key>
			<integer>1</integer>
		</dict>
		<key>tile-type</key>
		<string>directory-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>1623432698</integer>
		<key>tile-data</key>
		<dict>
			<key>arrangement</key>
			<integer>4</integer>
			<key>book</key>
			<data>
			Ym9vaywDAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABgCAAAEAAAAAwMAAAAA
			ACAFAAAAAQEAAFVzZXJzAAAACAAAAAEBAABldmdraXJvdgcAAAAB
			AQAATGlicmFyeQAQAAAAAQEAAE1vYmlsZSBEb2N1bWVudHMTAAAA
			AQEAAGNvbX5hcHBsZX5DbG91ZERvY3MADAAAAAEBAABTY3JlZW4g
			U2hvdHMYAAAAAQYAABAAAAAgAAAAMAAAAEAAAABYAAAAdAAAAAgA
			AAAEAwAAJ0gAAAAAAAAIAAAABAMAAE0nBQAAAAAACAAAAAQDAABU
			JwUAAAAAAAgAAAAEAwAAs9oFAAAAAAAIAAAABAMAALXaBQAAAAAA
			CAAAAAQDAAAISQYAAAAAABgAAAABBgAAqAAAALgAAADIAAAA2AAA
			AOgAAAD4AAAACAAAAAAEAABBxmtVZ4AAABgAAAABAgAAAgAAAAAA
			AAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAAAAAAAAQAAAAD
			AwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
			aCBIRAgAAAAEAwAAACAlidABAAAIAAAAAAQAAEHH0fL+gAAAJAAA
			AAEBAABBN0U3MkI4Mi04Mjc0LTQzOTgtOThGMi1CQUQ0Q0Q4MjY2
			MzEYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAAB
			AQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAA
			iAAAAAAAAAAFEAAACAEAAAAAAAAQEAAAOAEAAAAAAABAEAAAKAEA
			AAAAAAACIAAABAIAAAAAAAAFIAAAdAEAAAAAAAAQIAAAhAEAAAAA
			AAARIAAAuAEAAAAAAAASIAAAmAEAAAAAAAATIAAAqAEAAAAAAAAg
			IAAA5AEAAAAAAAAwIAAAEAIAAAAAAAABwAAAWAEAAAAAAAARwAAA
			IAAAAAAAAAASwAAAaAEAAAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>displayas</key>
			<integer>0</integer>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Users/evgkirov/Library/Mobile%20Documents/com~apple~CloudDocs/Screen%20Shots/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Screen Shots</string>
			<key>file-mod-date</key>
			<integer>3813394601</integer>
			<key>file-type</key>
			<integer>2</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>98216815953779</integer>
			<key>preferreditemsize</key>
			<integer>-1</integer>
			<key>showas</key>
			<integer>2</integer>
		</dict>
		<key>tile-type</key>
		<string>directory-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>3091399523</integer>
		<key>tile-data</key>
		<dict>
			<key>arrangement</key>
			<integer>1</integer>
			<key>book</key>
			<data>
			Ym9va6gCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIgBAAAEAAAAAwMAAAAA
			ACAFAAAAAQEAAFVzZXJzAAAACAAAAAEBAABldmdraXJvdggAAAAB
			AQAAUHJvamVjdHMMAAAAAQYAABAAAAAgAAAAMAAAAAgAAAAEAwAA
			J0gAAAAAAAAIAAAABAMAAE0nBQAAAAAACAAAAAQDAACoig0AAAAA
			AAwAAAABBgAAVAAAAGQAAAB0AAAACAAAAAAEAABBx9vc9lwnExgA
			AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAI
			AAAABAMAAAEAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxl
			Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAICWJ0AEA
			AAgAAAAABAAAQcfR8v6AAAAkAAAAAQEAAEE3RTcyQjgyLTgyNzQt
			NDM5OC05OEYyLUJBRDRDRDgyNjYzMRgAAAABAgAAgQAAAAEAAADv
			EwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA2AAAAP7///8BAAAA
			AAAAABEAAAAEEAAAQAAAAAAAAAAFEAAAhAAAAAAAAAAQEAAAqAAA
			AAAAAABAEAAAmAAAAAAAAAACIAAAfAEAAAAAAAAFIAAA7AAAAAAA
			AAAQIAAA/AAAAAAAAAARIAAAMAEAAAAAAAASIAAAEAEAAAAAAAAT
			IAAAIAEAAAAAAAAgIAAAXAEAAAAAAAAwIAAAyAAAAAAAAAABwAAA
			0AAAAAAAAAARwAAAIAAAAAAAAAASwAAA4AAAAAAAAAAB0AAAyAAA
			AAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>displayas</key>
			<integer>1</integer>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Users/evgkirov/Projects/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Projects</string>
			<key>file-mod-date</key>
			<integer>193311748001009</integer>
			<key>file-type</key>
			<integer>2</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>204843735769520</integer>
			<key>preferreditemsize</key>
			<integer>-1</integer>
			<key>showas</key>
			<integer>0</integer>
		</dict>
		<key>tile-type</key>
		<string>directory-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>3091399521</integer>
		<key>tile-data</key>
		<dict>
			<key>arrangement</key>
			<integer>1</integer>
			<key>book</key>
			<data>
			Ym9va9ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALABAAAEAAAAAwMAAAAA
			ACAFAAAAAQEAAFVzZXJzAAAACAAAAAEBAABldmdraXJvdgkAAAAB
			AQAARG9jdW1lbnRzAAAAAgAAAAEBAAAzRAAAEAAAAAEGAAAQAAAA
			IAAAADAAAABEAAAACAAAAAQDAAAnSAAAAAAAAAgAAAAEAwAATScF
			AAAAAAAIAAAABAMAAPlIBgAAAAAACAAAAAQDAABvwAYAAAAAABAA
			AAABBgAAaAAAAHgAAACIAAAAmAAAAAgAAAAABAAAQcfL9o4AAAAY
			AAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAAAAAABBQAA
			CAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmls
			ZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACAlidAB
			AAAIAAAAAAQAAEHH0fL+gAAAJAAAAAEBAABBN0U3MkI4Mi04Mjc0
			LTQzOTgtOThGMi1CQUQ0Q0Q4MjY2MzEYAAAAAQIAAIEAAAABAAAA
			7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAANgAAAD+////AQAA
			AAAAAAARAAAABBAAAFAAAAAAAAAABRAAAKgAAAAAAAAAEBAAANAA
			AAAAAAAAQBAAAMAAAAAAAAAAAiAAAKQBAAAAAAAABSAAABQBAAAA
			AAAAECAAACQBAAAAAAAAESAAAFgBAAAAAAAAEiAAADgBAAAAAAAA
			EyAAAEgBAAAAAAAAICAAAIQBAAAAAAAAMCAAAPAAAAAAAAAAAcAA
			APgAAAAAAAAAEcAAACAAAAAAAAAAEsAAAAgBAAAAAAAAAdAAAPAA
			AAAAAAAAENAAAAQAAAAAAAAA
			</data>
			<key>displayas</key>
			<integer>1</integer>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Users/evgkirov/Documents/3D/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>3D</string>
			<key>file-mod-date</key>
			<integer>3860930745</integer>
			<key>file-type</key>
			<integer>2</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>3860930745</integer>
			<key>preferreditemsize</key>
			<integer>-1</integer>
			<key>showas</key>
			<integer>0</integer>
		</dict>
		<key>tile-type</key>
		<string>directory-tile</string>
	</dict>
</array>
</plist>
