<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>GUID</key>
		<integer>1794875954</integer>
		<key>tile-data</key>
		<dict>
			<key>arrangement</key>
			<integer>2</integer>
			<key>book</key>
			<data>
			Ym9va6wCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIwBAAAEAAAAAwMAAAAA
			ACAFAAAAAQEAAFVzZXJzAAAACAAAAAEBAABldmdraXJvdgkAAAAB
			AQAARG93bmxvYWRzAAAADAAAAAEGAAAQAAAAIAAAADAAAAAIAAAA
			BAMAAMpEAAAAAAAACAAAAAQDAAD5dgAAAAAAAAgAAAAEAwAALncA
			AAAAAAAMAAAAAQYAAFgAAABoAAAAeAAAAAgAAAAABAAAQcSF5tqA
			AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAAAAAAB
			BQAACAAAAAQDAAABAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAA
			ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAJCC
			lucAAAAIAAAAAAQAAEHHaPt0AAAAJAAAAAEBAAAzNjQ1N0JBNS1G
			REVBLTQ1NzktODVCMS1ENjVBQUMwQkMwQTUYAAAAAQIAAIEAAAAB
			AAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAANgAAAD+////
			AQAAAAAAAAARAAAABBAAAEQAAAAAAAAABRAAAIgAAAAAAAAAEBAA
			AKwAAAAAAAAAQBAAAJwAAAAAAAAAAiAAAIABAAAAAAAABSAAAPAA
			AAAAAAAAECAAAAABAAAAAAAAESAAADQBAAAAAAAAEiAAABQBAAAA
			AAAAEyAAACQBAAAAAAAAICAAAGABAAAAAAAAMCAAAMwAAAAAAAAA
			AcAAANQAAAAAAAAAEcAAACAAAAAAAAAAEsAAAOQAAAAAAAAAAdAA
			AMwAAAAAAAAAENAAAAQAAAAAAAAA
			</data>
			<key>displayas</key>
			<integer>0</integer>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Users/evgkirov/Downloads/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Downloads</string>
			<key>file-mod-date</key>
			<integer>113502619073649</integer>
			<key>file-type</key>
			<integer>2</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>16182955216062</integer>
			<key>preferreditemsize</key>
			<integer>-1</integer>
			<key>showas</key>
			<integer>1</integer>
		</dict>
		<key>tile-type</key>
		<string>directory-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>1623432698</integer>
		<key>tile-data</key>
		<dict>
			<key>arrangement</key>
			<integer>4</integer>
			<key>book</key>
			<data>
			Ym9vaywDAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABgCAAAEAAAAAwMAAAAA
			ACAFAAAAAQEAAFVzZXJzAAAACAAAAAEBAABldmdraXJvdgcAAAAB
			AQAATGlicmFyeQAQAAAAAQEAAE1vYmlsZSBEb2N1bWVudHMTAAAA
			AQEAAGNvbX5hcHBsZX5DbG91ZERvY3MADAAAAAEBAABTY3JlZW4g
			U2hvdHMYAAAAAQYAABAAAAAgAAAAMAAAAEAAAABYAAAAdAAAAAgA
			AAAEAwAAykQAAAAAAAAIAAAABAMAAPl2AAAAAAAACAAAAAQDAAAC
			dwAAAAAAAAgAAAAEAwAAtJIAAAAAAAAIAAAABAMAAIS4AAAAAAAA
			CAAAAAQDAAB+TXsAAAAAABgAAAABBgAAqAAAALgAAADIAAAA2AAA
			AOgAAAD4AAAACAAAAAAEAABBxmtVZ4AAABgAAAABAgAAAgAAAAAA
			AAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAAAAAAAAQAAAAD
			AwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
			aCBIRAgAAAAEAwAAAJCClucAAAAIAAAAAAQAAEHHaPt0AAAAJAAA
			AAEBAAAzNjQ1N0JBNS1GREVBLTQ1NzktODVCMS1ENjVBQUMwQkMw
			QTUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAAB
			AQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAA
			iAAAAAAAAAAFEAAACAEAAAAAAAAQEAAAOAEAAAAAAABAEAAAKAEA
			AAAAAAACIAAABAIAAAAAAAAFIAAAdAEAAAAAAAAQIAAAhAEAAAAA
			AAARIAAAuAEAAAAAAAASIAAAmAEAAAAAAAATIAAAqAEAAAAAAAAg
			IAAA5AEAAAAAAAAwIAAAEAIAAAAAAAABwAAAWAEAAAAAAAARwAAA
			IAAAAAAAAAASwAAAaAEAAAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>displayas</key>
			<integer>0</integer>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Users/evgkirov/Library/Mobile%20Documents/com~apple~CloudDocs/Screen%20Shots/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Screen Shots</string>
			<key>file-mod-date</key>
			<integer>3813394601</integer>
			<key>file-type</key>
			<integer>2</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>98216815953779</integer>
			<key>preferreditemsize</key>
			<integer>-1</integer>
			<key>showas</key>
			<integer>2</integer>
		</dict>
		<key>tile-type</key>
		<string>directory-tile</string>
	</dict>
</array>
</plist>
