<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9va4ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIQBAAAEAAAAAwMAAAAA
			ACAMAAAAAQEAAEFwcGxpY2F0aW9ucwkAAAABAQAAT3Jpb24uYXBw
			AAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAA9Cx6AQAAAAAIAAAA
			BAMAACENuwEAAAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcf3
			gKGAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
			AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
			AwAAACAlidABAAAIAAAAAAQAAEHH9mT3gAAAJAAAAAEBAABBN0U3
			MkI4Mi04Mjc0LTQzOTgtOThGMi1CQUQ0Q0Q4MjY2MzEYAAAAAQIA
			AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
			AAABBQAALwAAAAEBAABOU1VSTEJvb2ttYXJrUXVhcmFudGluZU1v
			dW50ZWROZXR3b3JrVm9sdW1lc0tleQC0AAAA/v///wEAAAAAAAAA
			DgAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAA
			AEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAg
			AAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADc
			AAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAA
			AAAAAEwBAIBEAQAAAAAAAA==
			</data>
			<key>bundle-identifier</key>
			<string>com.kagi.kagimacOS</string>
			<key>dock-extra</key>
			<true/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/Orion.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Orion</string>
			<key>file-mod-date</key>
			<integer>0</integer>
			<key>file-type</key>
			<integer>1</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>0</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>1623432479</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9va1ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGABAAAEAAAAAwMAAAAA
			ACAGAAAAAQEAAFN5c3RlbQAADAAAAAEBAABBcHBsaWNhdGlvbnMI
			AAAAAQEAAE1haWwuYXBwDAAAAAEGAAAQAAAAIAAAADQAAAAIAAAA
			BAMAABcAAAD///8PCAAAAAQDAAAZAAAA////DwgAAAAEAwAA1xwA
			AP///w8MAAAAAQYAAFgAAABoAAAAeAAAAAgAAAAABAAAQcfR8v6A
			AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAB
			CQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAA
			ACAlidABAAAkAAAAAQEAAEE3RTcyQjgyLTgyNzQtNDM5OC05OEYy
			LUJBRDRDRDgyNjYzMRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAA
			AAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAA
			AAAADQAAAAQQAABEAAAAAAAAAAUQAACIAAAAAAAAABAQAACsAAAA
			AAAAAEAQAACcAAAAAAAAAAIgAABMAQAAAAAAAAUgAADMAAAAAAAA
			ABAgAADcAAAAAAAAABEgAAAAAQAAAAAAABIgAADwAAAAAAAAABMg
			AACcAAAAAAAAACAgAAAsAQAAAAAAADAgAABYAQAAAAAAABDQAAAE
			AAAAAAAAAA==
			</data>
			<key>bundle-identifier</key>
			<string>com.apple.mail</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///System/Applications/Mail.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Mail</string>
			<key>file-mod-date</key>
			<integer>3860422397</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>3860422397</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>1623432478</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQBAAAEAAAAAwMAAAAA
			ACAGAAAAAQEAAFN5c3RlbQAADAAAAAEBAABBcHBsaWNhdGlvbnMM
			AAAAAQEAAE1lc3NhZ2VzLmFwcAwAAAABBgAAEAAAACAAAAA0AAAA
			CAAAAAQDAAAXAAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMA
			AAQhAAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQAAEHH
			aPt0AAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
			AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
			BAMAAACQgpbnAAAAJAAAAAEBAAAzNjQ1N0JBNS1GREVBLTQ1Nzkt
			ODVCMS1ENjVBQUMwQkMwQTUYAAAAAQIAAIEAAAABAAAA7xMAAAEA
			AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
			AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAAAAAQEAAA
			sAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEAAAAAAAAFIAAA0AAA
			AAAAAAAQIAAA4AAAAAAAAAARIAAABAEAAAAAAAASIAAA9AAAAAAA
			AAATIAAAoAAAAAAAAAAgIAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ
			0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>com.apple.MobileSMS</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///System/Applications/Messages.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Messages</string>
			<key>file-mod-date</key>
			<integer>3846664168</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>3846664168</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>4274174607</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwBAAAEAAAAAwMAAAAA
			ACAMAAAAAQEAAEFwcGxpY2F0aW9ucwwAAAABAQAAVGVsZWdyYW0u
			YXBwCAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAiXOrEQAAAAAIAAAA
			BAMAAE5b3REAAAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQceH
			zAEAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
			AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
			AwAAAJCClucAAAAIAAAAAAQAAEHHaPt0AAAAJAAAAAEBAAAzNjQ1
			N0JBNS1GREVBLTQ1NzktODVCMS1ENjVBQUMwQkMwQTUYAAAAAQIA
			AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
			AAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
			EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAAAAACIAAA
			OAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAAAAAAAAARIAAA7AAA
			AAAAAAASIAAAzAAAAAAAAAATIAAA3AAAAAAAAAAgIAAAGAEAAAAA
			AAAwIAAARAEAAAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>ru.keepcoder.Telegram</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/Telegram.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Telegram</string>
			<key>file-mod-date</key>
			<integer>105707290934629</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>183527804478675</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>1420795883</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwBAAAEAAAAAwMAAAAA
			ACAMAAAAAQEAAEFwcGxpY2F0aW9ucwsAAAABAQAARGlzY29yZC5h
			cHAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAcqbVFAAAAAAIAAAA
			BAMAAGNrBxUAAAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcfL
			PakAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
			AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
			AwAAAJCClucAAAAIAAAAAAQAAEHHwdEIgAAAJAAAAAEBAAAzNjQ1
			N0JBNS1GREVBLTQ1NzktODVCMS1ENjVBQUMwQkMwQTUYAAAAAQIA
			AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
			AAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
			EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAAAAACIAAA
			OAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAAAAAAAAARIAAA7AAA
			AAAAAAASIAAAzAAAAAAAAAATIAAA3AAAAAAAAAAgIAAAGAEAAAAA
			AAAwIAAARAEAAAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>com.hnc.Discord</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/Discord.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Discord</string>
			<key>file-mod-date</key>
			<integer>3859543122</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>23334122485062</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>173881355</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwBAAAEAAAAAwMAAAAA
			ACAMAAAAAQEAAEFwcGxpY2F0aW9ucwkAAAABAQAAU2xhY2suYXBw
			AAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAaZkIAAAAAAAIAAAA
			BAMAAAmMDwEAAAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcfy
			Oa0AAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
			AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
			AwAAACAlidABAAAIAAAAAAQAAEHH0fL+gAAAJAAAAAEBAABBN0U3
			MkI4Mi04Mjc0LTQzOTgtOThGMi1CQUQ0Q0Q4MjY2MzEYAAAAAQIA
			AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
			AAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
			EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAAAAACIAAA
			OAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAAAAAAAAARIAAA7AAA
			AAAAAAASIAAAzAAAAAAAAAATIAAA3AAAAAAAAAAgIAAAGAEAAAAA
			AAAwIAAARAEAAAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>com.tinyspeck.slackmacgap</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/Slack.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Slack</string>
			<key>file-mod-date</key>
			<integer>3864652890</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>182681710146192</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>1105522807</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9va2QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHQBAAAEAAAAAwMAAAAA
			ACAMAAAAAQEAAEFwcGxpY2F0aW9ucwYAAAABAQAAU2V0YXBwAAAL
			AAAAAQEAAFNlc3Npb24uYXBwAAwAAAABBgAAEAAAACQAAAA0AAAA
			CAAAAAQDAABpmQgAAAAAAAgAAAAEAwAA8PEcAAAAAAAIAAAABAMA
			ALDoKQAAAAAADAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQAAEHH
			2gWjAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
			AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
			BAMAAAAgJYnQAQAACAAAAAAEAABBx9Hy/oAAACQAAAABAQAAQTdF
			NzJCODItODI3NC00Mzk4LTk4RjItQkFENENEODI2NjMxGAAAAAEC
			AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAA
			AAAAAQUAAKgAAAD+////AQAAAAAAAAANAAAABBAAAEgAAAAAAAAA
			BRAAAIwAAAAAAAAAEBAAALAAAAAAAAAAQBAAAKAAAAAAAAAAAiAA
			AGABAAAAAAAABSAAANAAAAAAAAAAECAAAOAAAAAAAAAAESAAABQB
			AAAAAAAAEiAAAPQAAAAAAAAAEyAAAAQBAAAAAAAAICAAAEABAAAA
			AAAAMCAAAGwBAAAAAAAAENAAAAQAAAAAAAAA
			</data>
			<key>bundle-identifier</key>
			<string>com.philipyoungg.session-setapp</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/Setapp/Session.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Session</string>
			<key>file-mod-date</key>
			<integer>3848507960</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>229350817492672</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>3439007608</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQBAAAEAAAAAwMAAAAA
			ACAGAAAAAQEAAFN5c3RlbQAADAAAAAEBAABBcHBsaWNhdGlvbnMM
			AAAAAQEAAENhbGVuZGFyLmFwcAwAAAABBgAAEAAAACAAAAA0AAAA
			CAAAAAQDAAAXAAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMA
			AEINAAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQAAEHH
			wdEIgAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
			AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
			BAMAAACQgpbnAAAAJAAAAAEBAAAzNjQ1N0JBNS1GREVBLTQ1Nzkt
			ODVCMS1ENjVBQUMwQkMwQTUYAAAAAQIAAIEAAAABAAAA7xMAAAEA
			AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
			AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAAAAAQEAAA
			sAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEAAAAAAAAFIAAA0AAA
			AAAAAAAQIAAA4AAAAAAAAAARIAAABAEAAAAAAAASIAAA9AAAAAAA
			AAATIAAAoAAAAAAAAAAgIAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ
			0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>com.apple.iCal</string>
			<key>dock-extra</key>
			<true/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///System/Applications/Calendar.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Calendar</string>
			<key>file-mod-date</key>
			<integer>3858307857</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>3858307857</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>2554350162</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwBAAAEAAAAAwMAAAAA
			ACAMAAAAAQEAAEFwcGxpY2F0aW9ucwsAAAABAQAAVGhpbmdzMy5h
			cHAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAaZkIAAAAAAAIAAAA
			BAMAAK6gGQAAAAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQce5
			n4KAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
			AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
			AwAAACAlidABAAAIAAAAAAQAAEHH0fL+gAAAJAAAAAEBAABBN0U3
			MkI4Mi04Mjc0LTQzOTgtOThGMi1CQUQ0Q0Q4MjY2MzEYAAAAAQIA
			AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
			AAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
			EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAAAAACIAAA
			OAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAAAAAAAAARIAAA7AAA
			AAAAAAASIAAAzAAAAAAAAAATIAAA3AAAAAAAAAAgIAAAGAEAAAAA
			AAAwIAAARAEAAAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>com.culturedcode.ThingsMac</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/Things3.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Things</string>
			<key>file-mod-date</key>
			<integer>44967874346802</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>220378634445139</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>2952789761</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwBAAAEAAAAAwMAAAAA
			ACAMAAAAAQEAAEFwcGxpY2F0aW9ucwwAAAABAQAAT2JzaWRpYW4u
			YXBwCAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAaZkIAAAAAAAIAAAA
			BAMAAGRqFgAAAAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQce4
			yMrwojcYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
			AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
			AwAAACAlidABAAAIAAAAAAQAAEHH0fL+gAAAJAAAAAEBAABBN0U3
			MkI4Mi04Mjc0LTQzOTgtOThGMi1CQUQ0Q0Q4MjY2MzEYAAAAAQIA
			AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
			AAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
			EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAAAAACIAAA
			OAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAAAAAAAAARIAAA7AAA
			AAAAAAASIAAAzAAAAAAAAAATIAAA3AAAAAAAAAAgIAAAGAEAAAAA
			AAAwIAAARAEAAAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>md.obsidian</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/Obsidian.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Obsidian</string>
			<key>file-mod-date</key>
			<integer>247686031149717</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>224583406675148</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>2219341305</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQBAAAEAAAAAwMAAAAA
			ACAGAAAAAQEAAFN5c3RlbQAADAAAAAEBAABBcHBsaWNhdGlvbnMJ
			AAAAAQEAAE5vdGVzLmFwcAAAAAwAAAABBgAAEAAAACAAAAA0AAAA
			CAAAAAQDAAAXAAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMA
			AII5AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQAAEHH
			0fL+gAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
			AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
			BAMAAAAgJYnQAQAAJAAAAAEBAABBN0U3MkI4Mi04Mjc0LTQzOTgt
			OThGMi1CQUQ0Q0Q4MjY2MzEYAAAAAQIAAIEAAAABAAAA7xMAAAEA
			AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
			AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAAAAAQEAAA
			sAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEAAAAAAAAFIAAA0AAA
			AAAAAAAQIAAA4AAAAAAAAAARIAAABAEAAAAAAAASIAAA9AAAAAAA
			AAATIAAAoAAAAAAAAAAgIAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ
			0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>com.apple.Notes</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///System/Applications/Notes.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Notes</string>
			<key>file-mod-date</key>
			<integer>3860422397</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>3860422397</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>4069078708</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwBAAAEAAAAAwMAAAAA
			ACAMAAAAAQEAAEFwcGxpY2F0aW9ucwsAAAABAQAAR2hvc3R0eS5h
			cHAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAiXOrEQAAAAAIAAAA
			BAMAAHGwsQ8AAAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcdV
			UAgZ3aEYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
			AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
			AwAAAJCClucAAAAIAAAAAAQAAEHHaPt0AAAAJAAAAAEBAAAzNjQ1
			N0JBNS1GREVBLTQ1NzktODVCMS1ENjVBQUMwQkMwQTUYAAAAAQIA
			AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
			AAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
			EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAAAAACIAAA
			OAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAAAAAAAAARIAAA7AAA
			AAAAAAASIAAAzAAAAAAAAAATIAAA3AAAAAAAAAAgIAAAGAEAAAAA
			AAAwIAAARAEAAAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>com.mitchellh.ghostty</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/Ghostty.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Ghostty</string>
			<key>file-mod-date</key>
			<integer>79731322065354</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>248639509898225</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>1623432481</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQBAAAEAAAAAwMAAAAA
			ACAGAAAAAQEAAFN5c3RlbQAADAAAAAEBAABBcHBsaWNhdGlvbnMK
			AAAAAQEAAFBob3Rvcy5hcHAAAAwAAAABBgAAEAAAACAAAAA0AAAA
			CAAAAAQDAAAXAAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMA
			AKg+AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQAAEHH
			0fL+gAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
			AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
			BAMAAAAgJYnQAQAAJAAAAAEBAABBN0U3MkI4Mi04Mjc0LTQzOTgt
			OThGMi1CQUQ0Q0Q4MjY2MzEYAAAAAQIAAIEAAAABAAAA7xMAAAEA
			AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
			AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAAAAAQEAAA
			sAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEAAAAAAAAFIAAA0AAA
			AAAAAAAQIAAA4AAAAAAAAAARIAAABAEAAAAAAAASIAAA9AAAAAAA
			AAATIAAAoAAAAAAAAAAgIAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ
			0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>com.apple.Photos</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///System/Applications/Photos.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Photos</string>
			<key>file-mod-date</key>
			<integer>3860422397</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>3860422397</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>3885137194</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9va0QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFQBAAAEAAAAAwMAAAAA
			ACAMAAAAAQEAAEFwcGxpY2F0aW9ucxIAAAABAQAASG9tZSBBc3Np
			c3RhbnQuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAByptUU
			AAAAAAgAAAAEAwAAXFESFQAAAAAIAAAAAQYAAFAAAABgAAAACAAA
			AAAEAABBx8wE74AAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
			AAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
			IEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcfB0QiAAAAkAAAA
			AQEAADM2NDU3QkE1LUZERUEtNDU3OS04NUIxLUQ2NUFBQzBCQzBB
			NRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
			AAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABA
			AAAAAAAAAAUQAABwAAAAAAAAABAQAACQAAAAAAAAAEAQAACAAAAA
			AAAAAAIgAABAAQAAAAAAAAUgAACwAAAAAAAAABAgAADAAAAAAAAA
			ABEgAAD0AAAAAAAAABIgAADUAAAAAAAAABMgAADkAAAAAAAAACAg
			AAAgAQAAAAAAADAgAABMAQAAAAAAABDQAAAEAAAAAAAAAA==
			</data>
			<key>bundle-identifier</key>
			<string>io.robbie.HomeAssistant</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/Home%20Assistant.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Home Assistant</string>
			<key>file-mod-date</key>
			<integer>86835190909582</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>188213602302983</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>2230378575</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwBAAAEAAAAAwMAAAAA
			ACAMAAAAAQEAAEFwcGxpY2F0aW9ucwsAAAABAQAAU3BvdGlmeS5h
			cHAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAcqbVFAAAAAAIAAAA
			BAMAABtPrhQAAAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQceK
			vaGAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
			AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
			AwAAAJCClucAAAAIAAAAAAQAAEHHwdEIgAAAJAAAAAEBAAAzNjQ1
			N0JBNS1GREVBLTQ1NzktODVCMS1ENjVBQUMwQkMwQTUYAAAAAQIA
			AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
			AAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
			EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAAAAACIAAA
			OAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAAAAAAAAARIAAA7AAA
			AAAAAAASIAAAzAAAAAAAAAATIAAA3AAAAAAAAAAgIAAAGAEAAAAA
			AAAwIAAARAEAAAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>com.spotify.client</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/Spotify.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Spotify</string>
			<key>file-mod-date</key>
			<integer>44293553523359</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>174744602487190</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>3151035930</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9va1wCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGwBAAAEAAAAAwMAAAAA
			ACAGAAAAAQEAAFN5c3RlbQAADAAAAAEBAABBcHBsaWNhdGlvbnMU
			AAAAAQEAAGlQaG9uZSBNaXJyb3JpbmcuYXBwDAAAAAEGAAAQAAAA
			IAAAADQAAAAIAAAABAMAABcAAAD///8PCAAAAAQDAAAZAAAA////
			DwgAAAAEAwAAYowAAP///w8MAAAAAQYAAGQAAAB0AAAAhAAAAAgA
			AAAABAAAQcf2ZPeAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAA
			AAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
			aCBIRAgAAAAEAwAAACAlidABAAAkAAAAAQEAAEE3RTcyQjgyLTgy
			NzQtNDM5OC05OEYyLUJBRDRDRDgyNjYzMRgAAAABAgAAgQAAAAEA
			AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACo
			AAAA/v///wEAAAAAAAAADQAAAAQQAABQAAAAAAAAAAUQAACUAAAA
			AAAAABAQAAC4AAAAAAAAAEAQAACoAAAAAAAAAAIgAABYAQAAAAAA
			AAUgAADYAAAAAAAAABAgAADoAAAAAAAAABEgAAAMAQAAAAAAABIg
			AAD8AAAAAAAAABMgAACoAAAAAAAAACAgAAA4AQAAAAAAADAgAABk
			AQAAAAAAABDQAAAEAAAAAAAAAA==
			</data>
			<key>bundle-identifier</key>
			<string>com.apple.ScreenContinuity</string>
			<key>dock-extra</key>
			<true/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///System/Applications/iPhone%20Mirroring.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>iPhone Mirroring</string>
			<key>file-mod-date</key>
			<integer>3865199343</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>3865199343</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>414097534</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwBAAAEAAAAAwMAAAAA
			ACAMAAAAAQEAAEFwcGxpY2F0aW9ucwwAAAABAQAAQ290eXBpc3Qu
			YXBwCAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAaZkIAAAAAAAIAAAA
			BAMAAKSZQwEAAAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcf+
			ozLeKIkYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
			AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
			AwAAACAlidABAAAIAAAAAAQAAEHH0fL+gAAAJAAAAAEBAABBN0U3
			MkI4Mi04Mjc0LTQzOTgtOThGMi1CQUQ0Q0Q4MjY2MzEYAAAAAQIA
			AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
			AAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
			EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAAAAACIAAA
			OAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAAAAAAAAARIAAA7AAA
			AAAAAAASIAAAzAAAAAAAAAATIAAA3AAAAAAAAAAgIAAAGAEAAAAA
			AAAwIAAARAEAAAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>app.cotypist.Cotypist</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/Cotypist.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Cotypist</string>
			<key>file-mod-date</key>
			<integer>135505789566753</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>139379850505885</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
</array>
</plist>
