<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>GUID</key>
		<integer>1223237096</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwBAAAEAAAAAwMAAAAA
			ACAMAAAAAQEAAEFwcGxpY2F0aW9ucwkAAAABAQAAT3Jpb24uYXBw
			AAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAV7gFEwAAAAAIAAAA
			BAMAAD09GxIAAAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQceC
			nPSAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
			AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
			AwAAAJCClucAAAAIAAAAAAQAAEHHmi85gAAAJAAAAAEBAAAzNjQ1
			N0JBNS1GREVBLTQ1NzktODVCMS1ENjVBQUMwQkMwQTUYAAAAAQIA
			AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
			AAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
			EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAAAAACIAAA
			OAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAAAAAAAAARIAAA7AAA
			AAAAAAASIAAAzAAAAAAAAAATIAAA3AAAAAAAAAAgIAAAGAEAAAAA
			AAAwIAAARAEAAAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>com.kagi.kagimacOS</string>
			<key>dock-extra</key>
			<true/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/Orion.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Orion</string>
			<key>file-mod-date</key>
			<integer>109375193720119</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>91611211385913</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>1623432479</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9va1ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGABAAAEAAAAAwMAAAAA
			ACAGAAAAAQEAAFN5c3RlbQAADAAAAAEBAABBcHBsaWNhdGlvbnMI
			AAAAAQEAAE1haWwuYXBwDAAAAAEGAAAQAAAAIAAAADQAAAAIAAAA
			BAMAABcAAAD///8PCAAAAAQDAAAZAAAA////DwgAAAAEAwAA3xsA
			AP///w8MAAAAAQYAAFgAAABoAAAAeAAAAAgAAAAABAAAQceaLzmA
			AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAB
			CQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAA
			AJCClucAAAAkAAAAAQEAADM2NDU3QkE1LUZERUEtNDU3OS04NUIx
			LUQ2NUFBQzBCQzBBNRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAA
			AAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAA
			AAAADQAAAAQQAABEAAAAAAAAAAUQAACIAAAAAAAAABAQAACsAAAA
			AAAAAEAQAACcAAAAAAAAAAIgAABMAQAAAAAAAAUgAADMAAAAAAAA
			ABAgAADcAAAAAAAAABEgAAAAAQAAAAAAABIgAADwAAAAAAAAABMg
			AACcAAAAAAAAACAgAAAsAQAAAAAAADAgAABYAQAAAAAAABDQAAAE
			AAAAAAAAAA==
			</data>
			<key>bundle-identifier</key>
			<string>com.apple.mail</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///System/Applications/Mail.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Mail</string>
			<key>file-mod-date</key>
			<integer>3853113203</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>3853113203</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>1623432478</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQBAAAEAAAAAwMAAAAA
			ACAGAAAAAQEAAFN5c3RlbQAADAAAAAEBAABBcHBsaWNhdGlvbnMM
			AAAAAQEAAE1lc3NhZ2VzLmFwcAwAAAABBgAAEAAAACAAAAA0AAAA
			CAAAAAQDAAAXAAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMA
			AAQhAAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQAAEHH
			aPt0AAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
			AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
			BAMAAACQgpbnAAAAJAAAAAEBAAAzNjQ1N0JBNS1GREVBLTQ1Nzkt
			ODVCMS1ENjVBQUMwQkMwQTUYAAAAAQIAAIEAAAABAAAA7xMAAAEA
			AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
			AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAAAAAQEAAA
			sAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEAAAAAAAAFIAAA0AAA
			AAAAAAAQIAAA4AAAAAAAAAARIAAABAEAAAAAAAASIAAA9AAAAAAA
			AAATIAAAoAAAAAAAAAAgIAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ
			0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>com.apple.MobileSMS</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///System/Applications/Messages.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Messages</string>
			<key>file-mod-date</key>
			<integer>3846664168</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>3846664168</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>4274174607</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwBAAAEAAAAAwMAAAAA
			ACAMAAAAAQEAAEFwcGxpY2F0aW9ucwwAAAABAQAAVGVsZWdyYW0u
			YXBwCAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAiXOrEQAAAAAIAAAA
			BAMAAE5b3REAAAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQceH
			zAEAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
			AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
			AwAAAJCClucAAAAIAAAAAAQAAEHHaPt0AAAAJAAAAAEBAAAzNjQ1
			N0JBNS1GREVBLTQ1NzktODVCMS1ENjVBQUMwQkMwQTUYAAAAAQIA
			AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
			AAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
			EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAAAAACIAAA
			OAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAAAAAAAAARIAAA7AAA
			AAAAAAASIAAAzAAAAAAAAAATIAAA3AAAAAAAAAAgIAAAGAEAAAAA
			AAAwIAAARAEAAAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>ru.keepcoder.Telegram</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/Telegram.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Telegram</string>
			<key>file-mod-date</key>
			<integer>105707290934629</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>183527804478675</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>1420795883</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwBAAAEAAAAAwMAAAAA
			ACAMAAAAAQEAAEFwcGxpY2F0aW9ucwsAAAABAQAARGlzY29yZC5h
			cHAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAiXOrEQAAAAAIAAAA
			BAMAAMTp/xEAAAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQceK
			feoAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
			AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
			AwAAAJCClucAAAAIAAAAAAQAAEHHaPt0AAAAJAAAAAEBAAAzNjQ1
			N0JBNS1GREVBLTQ1NzktODVCMS1ENjVBQUMwQkMwQTUYAAAAAQIA
			AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
			AAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
			EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAAAAACIAAA
			OAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAAAAAAAAARIAAA7AAA
			AAAAAAASIAAAzAAAAAAAAAATIAAA3AAAAAAAAAAgIAAAGAEAAAAA
			AAAwIAAARAEAAAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>com.hnc.Discord</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/Discord.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Discord</string>
			<key>file-mod-date</key>
			<integer>3851056340</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>197684016284783</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>173881355</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwBAAAEAAAAAwMAAAAA
			ACAMAAAAAQEAAEFwcGxpY2F0aW9ucwkAAAABAQAAU2xhY2suYXBw
			AAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAV7gFEwAAAAAIAAAA
			BAMAANZGNREAAAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcd2
			a8EAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
			AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
			AwAAAJCClucAAAAIAAAAAAQAAEHHmi85gAAAJAAAAAEBAAAzNjQ1
			N0JBNS1GREVBLTQ1NzktODVCMS1ENjVBQUMwQkMwQTUYAAAAAQIA
			AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
			AAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
			EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAAAAACIAAA
			OAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAAAAAAAAARIAAA7AAA
			AAAAAAASIAAAzAAAAAAAAAATIAAA3AAAAAAAAAAgIAAAGAEAAAAA
			AAAwIAAARAEAAAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>com.tinyspeck.slackmacgap</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/Slack.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Slack</string>
			<key>file-mod-date</key>
			<integer>3848425602</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>251220786496456</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>1105522807</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9va2QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHQBAAAEAAAAAwMAAAAA
			ACAMAAAAAQEAAEFwcGxpY2F0aW9ucwYAAAABAQAAU2V0YXBwAAAL
			AAAAAQEAAFNlc3Npb24uYXBwAAwAAAABBgAAEAAAACQAAAA0AAAA
			CAAAAAQDAACJc6sRAAAAAAgAAAAEAwAARF5xBgAAAAAIAAAABAMA
			AO0pTBEAAAAADAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQAAEHH
			dwycAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
			AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
			BAMAAACQgpbnAAAACAAAAAAEAABBx2j7dAAAACQAAAABAQAAMzY0
			NTdCQTUtRkRFQS00NTc5LTg1QjEtRDY1QUFDMEJDMEE1GAAAAAEC
			AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAA
			AAAAAQUAAKgAAAD+////AQAAAAAAAAANAAAABBAAAEgAAAAAAAAA
			BRAAAIwAAAAAAAAAEBAAALAAAAAAAAAAQBAAAKAAAAAAAAAAAiAA
			AGABAAAAAAAABSAAANAAAAAAAAAAECAAAOAAAAAAAAAAESAAABQB
			AAAAAAAAEiAAAPQAAAAAAAAAEyAAAAQBAAAAAAAAICAAAEABAAAA
			AAAAMCAAAGwBAAAAAAAAENAAAAQAAAAAAAAA
			</data>
			<key>bundle-identifier</key>
			<string>com.philipyoungg.session-setapp</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/Setapp/Session.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Session</string>
			<key>file-mod-date</key>
			<integer>3848507960</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>192796344481799</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>2683019459</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9va2QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHQBAAAEAAAAAwMAAAAA
			ACAMAAAAAQEAAEFwcGxpY2F0aW9ucwYAAAABAQAAU2V0YXBwAAAK
			AAAAAQEAAFRpbWluZy5hcHAAAAwAAAABBgAAEAAAACQAAAA0AAAA
			CAAAAAQDAACJc6sRAAAAAAgAAAAEAwAARF5xBgAAAAAIAAAABAMA
			AOQL0xEAAAAADAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQAAEHH
			h0PQAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
			AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
			BAMAAACQgpbnAAAACAAAAAAEAABBx2j7dAAAACQAAAABAQAAMzY0
			NTdCQTUtRkRFQS00NTc5LTg1QjEtRDY1QUFDMEJDMEE1GAAAAAEC
			AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAA
			AAAAAQUAAKgAAAD+////AQAAAAAAAAANAAAABBAAAEgAAAAAAAAA
			BRAAAIwAAAAAAAAAEBAAALAAAAAAAAAAQBAAAKAAAAAAAAAAAiAA
			AGABAAAAAAAABSAAANAAAAAAAAAAECAAAOAAAAAAAAAAESAAABQB
			AAAAAAAAEiAAAPQAAAAAAAAAEyAAAAQBAAAAAAAAICAAAEABAAAA
			AAAAMCAAAGwBAAAAAAAAENAAAAQAAAAAAAAA
			</data>
			<key>bundle-identifier</key>
			<string>info.eurocomp.Timing-setapp</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/Setapp/Timing.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Timing</string>
			<key>file-mod-date</key>
			<integer>3850633376</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>234672276546784</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>3439007608</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQBAAAEAAAAAwMAAAAA
			ACAGAAAAAQEAAFN5c3RlbQAADAAAAAEBAABBcHBsaWNhdGlvbnMM
			AAAAAQEAAENhbGVuZGFyLmFwcAwAAAABBgAAEAAAACAAAAA0AAAA
			CAAAAAQDAAAXAAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMA
			AEMNAAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQAAEHH
			aPt0AAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
			AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
			BAMAAACQgpbnAAAAJAAAAAEBAAAzNjQ1N0JBNS1GREVBLTQ1Nzkt
			ODVCMS1ENjVBQUMwQkMwQTUYAAAAAQIAAIEAAAABAAAA7xMAAAEA
			AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
			AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAAAAAQEAAA
			sAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEAAAAAAAAFIAAA0AAA
			AAAAAAAQIAAA4AAAAAAAAAARIAAABAEAAAAAAAASIAAA9AAAAAAA
			AAATIAAAoAAAAAAAAAAgIAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ
			0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>com.apple.iCal</string>
			<key>dock-extra</key>
			<true/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///System/Applications/Calendar.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Calendar</string>
			<key>file-mod-date</key>
			<integer>3846664168</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>3846664168</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>2554350162</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwBAAAEAAAAAwMAAAAA
			ACAMAAAAAQEAAEFwcGxpY2F0aW9ucwsAAAABAQAAVGhpbmdzMy5h
			cHAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAiXOrEQAAAAAIAAAA
			BAMAAObWBhIAAAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQceL
			9VkAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
			AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
			AwAAAJCClucAAAAIAAAAAAQAAEHHaPt0AAAAJAAAAAEBAAAzNjQ1
			N0JBNS1GREVBLTQ1NzktODVCMS1ENjVBQUMwQkMwQTUYAAAAAQIA
			AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
			AAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
			EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAAAAACIAAA
			OAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAAAAAAAAARIAAA7AAA
			AAAAAAASIAAAzAAAAAAAAAATIAAA3AAAAAAAAAAgIAAAGAEAAAAA
			AAAwIAAARAEAAAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>com.culturedcode.ThingsMac</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/Things3.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Things</string>
			<key>file-mod-date</key>
			<integer>181650903126827</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>225236233397358</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>2952789761</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwBAAAEAAAAAwMAAAAA
			ACAMAAAAAQEAAEFwcGxpY2F0aW9ucwwAAAABAQAAT2JzaWRpYW4u
			YXBwCAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAV7gFEwAAAAAIAAAA
			BAMAAFEOIAkAAAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcam
			HQuAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
			AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
			AwAAAJCClucAAAAIAAAAAAQAAEHHmi85gAAAJAAAAAEBAAAzNjQ1
			N0JBNS1GREVBLTQ1NzktODVCMS1ENjVBQUMwQkMwQTUYAAAAAQIA
			AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
			AAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
			EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAAAAACIAAA
			OAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAAAAAAAAARIAAA7AAA
			AAAAAAASIAAAzAAAAAAAAAATIAAA3AAAAAAAAAAgIAAAGAEAAAAA
			AAAwIAAARAEAAAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>md.obsidian</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/Obsidian.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Obsidian</string>
			<key>file-mod-date</key>
			<integer>88759350425276</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>91611211385913</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>2219341305</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQBAAAEAAAAAwMAAAAA
			ACAGAAAAAQEAAFN5c3RlbQAADAAAAAEBAABBcHBsaWNhdGlvbnMJ
			AAAAAQEAAE5vdGVzLmFwcAAAAAwAAAABBgAAEAAAACAAAAA0AAAA
			CAAAAAQDAAAXAAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMA
			ALU3AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQAAEHH
			aPt0AAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
			AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
			BAMAAACQgpbnAAAAJAAAAAEBAAAzNjQ1N0JBNS1GREVBLTQ1Nzkt
			ODVCMS1ENjVBQUMwQkMwQTUYAAAAAQIAAIEAAAABAAAA7xMAAAEA
			AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
			AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAAAAAQEAAA
			sAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEAAAAAAAAFIAAA0AAA
			AAAAAAAQIAAA4AAAAAAAAAARIAAABAEAAAAAAAASIAAA9AAAAAAA
			AAATIAAAoAAAAAAAAAAgIAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ
			0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>com.apple.Notes</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///System/Applications/Notes.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Notes</string>
			<key>file-mod-date</key>
			<integer>0</integer>
			<key>file-type</key>
			<integer>1</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>0</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>4069078708</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwBAAAEAAAAAwMAAAAA
			ACAMAAAAAQEAAEFwcGxpY2F0aW9ucwsAAAABAQAAR2hvc3R0eS5h
			cHAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAiXOrEQAAAAAIAAAA
			BAMAAHGwsQ8AAAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcdV
			UAgZ3aEYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
			AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
			AwAAAJCClucAAAAIAAAAAAQAAEHHaPt0AAAAJAAAAAEBAAAzNjQ1
			N0JBNS1GREVBLTQ1NzktODVCMS1ENjVBQUMwQkMwQTUYAAAAAQIA
			AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
			AAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
			EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAAAAACIAAA
			OAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAAAAAAAAARIAAA7AAA
			AAAAAAASIAAAzAAAAAAAAAATIAAA3AAAAAAAAAAgIAAAGAEAAAAA
			AAAwIAAARAEAAAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>com.mitchellh.ghostty</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/Ghostty.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Ghostty</string>
			<key>file-mod-date</key>
			<integer>79731322065354</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>248639509898225</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>1794875933</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwBAAAEAAAAAwMAAAAA
			ACAMAAAAAQEAAEFwcGxpY2F0aW9ucwsAAAABAQAAQ2hhdEdQVC5h
			cHAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAiXOrEQAAAAAIAAAA
			BAMAAKlMcxIAAAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQceN
			g18AAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
			AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
			AwAAAJCClucAAAAIAAAAAAQAAEHHaPt0AAAAJAAAAAEBAAAzNjQ1
			N0JBNS1GREVBLTQ1NzktODVCMS1ENjVBQUMwQkMwQTUYAAAAAQIA
			AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
			AAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
			EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAAAAACIAAA
			OAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAAAAAAAAARIAAA7AAA
			AAAAAAASIAAAzAAAAAAAAAATIAAA3AAAAAAAAAAgIAAAGAEAAAAA
			AAAwIAAARAEAAAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>com.openai.chat</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/ChatGPT.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>ChatGPT</string>
			<key>file-mod-date</key>
			<integer>4032531792534</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>130755542372991</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>1623432481</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQBAAAEAAAAAwMAAAAA
			ACAGAAAAAQEAAFN5c3RlbQAADAAAAAEBAABBcHBsaWNhdGlvbnMK
			AAAAAQEAAFBob3Rvcy5hcHAAAAwAAAABBgAAEAAAACAAAAA0AAAA
			CAAAAAQDAAAXAAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMA
			AOA8AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQAAEHH
			WNHAAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
			AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
			BAMAAACQgpbnAAAAJAAAAAEBAAAzNjQ1N0JBNS1GREVBLTQ1Nzkt
			ODVCMS1ENjVBQUMwQkMwQTUYAAAAAQIAAIEAAAABAAAA7xMAAAEA
			AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
			AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAAAAAQEAAA
			sAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEAAAAAAAAFIAAA0AAA
			AAAAAAAQIAAA4AAAAAAAAAARIAAABAEAAAAAAAASIAAA9AAAAAAA
			AAATIAAAoAAAAAAAAAAgIAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ
			0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>com.apple.Photos</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///System/Applications/Photos.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Photos</string>
			<key>file-mod-date</key>
			<integer>3844545664</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>3844545664</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>3885137194</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9vazQCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAVAEAAAQAAAADAwAAAAAAIAwAAAABAQAAQXBwbGlj
			YXRpb25zEgAAAAEBAABIb21lIEFzc2lzdGFudC5hcHAAAAgAAAAB
			BgAAEAAAACQAAAAIAAAABAMAAJLCgw4AAAAACAAAAAQDAABYvG8N
			AAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHHG85sAAAAGAAA
			AAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZp
			bGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbn
			AAAACAAAAAAEAABBxyiEhoAAACQAAAABAQAAMzY0NTdCQTUtRkRF
			QS00NTc5LTg1QjEtRDY1QUFDMEJDMEE1GAAAAAECAACBAAAAAQAA
			AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgA
			AAD+////AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAA
			AAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAA
			BSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAA
			ANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwB
			AAAAAAAAENAAAAQAAAAAAAAA
			</data>
			<key>bundle-identifier</key>
			<string>io.robbie.HomeAssistant</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/Home%20Assistant.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Home Assistant</string>
			<key>file-mod-date</key>
			<integer>86835190909582</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>188213602302983</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>2230378575</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwBAAAEAAAAAwMAAAAA
			ACAMAAAAAQEAAEFwcGxpY2F0aW9ucwsAAAABAQAAU3BvdGlmeS5h
			cHAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAT5JqEAAAAAAIAAAA
			BAMAAMz9PxEAAAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcV0
			LQeAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
			AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
			AwAAAJCClucAAAAIAAAAAAQAAEHHWNHAAAAAJAAAAAEBAAAzNjQ1
			N0JBNS1GREVBLTQ1NzktODVCMS1ENjVBQUMwQkMwQTUYAAAAAQIA
			AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
			AAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
			EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAAAAACIAAA
			OAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAAAAAAAAARIAAA7AAA
			AAAAAAASIAAAzAAAAAAAAAATIAAA3AAAAAAAAAAgIAAAGAEAAAAA
			AAAwIAAARAEAAAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>bundle-identifier</key>
			<string>com.spotify.client</string>
			<key>dock-extra</key>
			<false/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///Applications/Spotify.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>Spotify</string>
			<key>file-mod-date</key>
			<integer>228822526640915</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>47617856437111</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
	<dict>
		<key>GUID</key>
		<integer>3151035930</integer>
		<key>tile-data</key>
		<dict>
			<key>book</key>
			<data>
			Ym9va1wCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGwBAAAEAAAAAwMAAAAA
			ACAGAAAAAQEAAFN5c3RlbQAADAAAAAEBAABBcHBsaWNhdGlvbnMU
			AAAAAQEAAGlQaG9uZSBNaXJyb3JpbmcuYXBwDAAAAAEGAAAQAAAA
			IAAAADQAAAAIAAAABAMAABcAAAD///8PCAAAAAQDAAAZAAAA////
			DwgAAAAEAwAArYkAAP///w8MAAAAAQYAAGQAAAB0AAAAhAAAAAgA
			AAAABAAAQceaLzmAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAA
			AAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
			aCBIRAgAAAAEAwAAAJCClucAAAAkAAAAAQEAADM2NDU3QkE1LUZE
			RUEtNDU3OS04NUIxLUQ2NUFBQzBCQzBBNRgAAAABAgAAgQAAAAEA
			AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACo
			AAAA/v///wEAAAAAAAAADQAAAAQQAABQAAAAAAAAAAUQAACUAAAA
			AAAAABAQAAC4AAAAAAAAAEAQAACoAAAAAAAAAAIgAABYAQAAAAAA
			AAUgAADYAAAAAAAAABAgAADoAAAAAAAAABEgAAAMAQAAAAAAABIg
			AAD8AAAAAAAAABMgAACoAAAAAAAAACAgAAA4AQAAAAAAADAgAABk
			AQAAAAAAABDQAAAEAAAAAAAAAA==
			</data>
			<key>bundle-identifier</key>
			<string>com.apple.ScreenContinuity</string>
			<key>dock-extra</key>
			<true/>
			<key>file-data</key>
			<dict>
				<key>_CFURLString</key>
				<string>file:///System/Applications/iPhone%20Mirroring.app/</string>
				<key>_CFURLStringType</key>
				<integer>15</integer>
			</dict>
			<key>file-label</key>
			<string>iPhone Mirroring</string>
			<key>file-mod-date</key>
			<integer>3853113203</integer>
			<key>file-type</key>
			<integer>41</integer>
			<key>is-beta</key>
			<false/>
			<key>parent-mod-date</key>
			<integer>3853113203</integer>
		</dict>
		<key>tile-type</key>
		<string>file-tile</string>
	</dict>
</array>
</plist>
